body {
    font-family: 'Notable', sans-serif;
}


.main-menu {
    background-color: black;
    padding: 10px;
    color: white;
    font-family: 'Notable', sans-serif;
    font-size: 1em;



    display: grid;

    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.banner-ad {
    display: grid;
    grid-template-rows: 1fr;
}

.banner-ad img {
    width: 100%;
    height: 20vh;
}

.main-content {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;

}

.image-text-pair {
    display: grid;
}

.image-text-pair img {
    width: auto;
    height: 250px;
}

.image-text-pair span {
    font-size: 1em;
    background-color: gray;
    color: white;
    text-shadow: cornflowerblue;
}

@media only screen and (min-device-width : 100px) and (max-device-width : 480px) {

}

@media only screen and (min-device-width : 481px) and (max-device-width : 2500px) {

}